Source: node-commander
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Yadd <yadd@debian.org>
Section: javascript
Priority: optional
Testsuite: autopkgtest-pkg-nodejs
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , jest <!nocheck>
 , node-types-jest
 , ts-jest <!nocheck>
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/js-team/node-commander
Vcs-Git: https://salsa.debian.org/js-team/node-commander.git
Homepage: https://github.com/tj/commander.js
Rules-Requires-Root: no

Package: node-commander
Architecture: all
Depends: ${misc:Depends}
Breaks: uglifyjs (<< 3.9.4-2~)
 , cleancss (<< 5.2.2+~5.5.0~)
 , yarnpkg (<< 1.22.10+~cs22.25.14-6~)
 , uglifyjs.terser (<< 4.1.2-10~)
Multi-Arch: foreign
Description: Complete solution for Node.js command-line interfaces
 Commander is a light-weight, expressive, and powerful command-line framework
 for Node.js.
 .
 Inspired by Ruby's commander, this Node.js module provides command line
 option parsing, automated/customizable help texts, command line prompting
 password query, and many more features.
 .
 Node.js is an event-based server-side JavaScript engine.
